# General
*.log
*.log.*
*.tmp
*.bak
*.swp
*~
.DS_Store
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd

# Frontend (React.js with Vite and TypeScript)
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/dist/
frontend/.cache/
frontend/coverage/
frontend/*.log
frontend/package-lock.json  # Optional: Include if you use yarn or bun exclusively
frontent/package.json
frontend/bun-lockb        # Bun lock file
frontend/pnpm-lock.yaml    # Optional: If you use pnpm

# Backend (FastAPI Python)
backend/venv/
backend/.env
backend/env/
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.pytest_cache/
backend/coverage/
backend/.coverage
backend/htmlcov/
backend/*.log
backend/.tox/
backend/.cache/
backend/temp
backend/data
backend/test
backend/models
backend/static
backend/templates
backend/tests
backend/test_modules.py

# Other
.git/